.idea
.vscode

packages/*/.env
packages/*/.env.development
packages/*/.env.test
packages/*/docker.env
packages/*/node_modules
packages/*/build
packages/*/package-lock.json
packages/*/*/build

node_modules
.DS_STORE