.idea
.vscode
yarn.lock
node_modules

api/node_modules
api/package-lock.json
api/build
api/src/generated
api/prisma/.env

api/.env
api/.env.development
api/.env.test

app/.env
app/.env.development
app/.env.test

app/node_modules
app/package-lock.json
app/build

